<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.akikoz.alfred.wolframalphasuggest</string>
	<key>category</key>
	<string>Search</string>
	<key>connections</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8FFA3AB-AD7D-4316-A84F-5958A671D4FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>AkikoZ</string>
	<key>description</key>
	<string>Get Wolfram|Alpha asking suggestions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wolfram|Alpha Suggest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635219297</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>B8FFA3AB-AD7D-4316-A84F-5958A671D4FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>wa</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving asking suggestions ...</string>
				<key>script</key>
				<string>$query = "{query}";
$opt = array(
	CURLOPT_PROXYTYPE =&gt; getenv('proxy_type'),
	CURLOPT_PROXY =&gt; getenv('proxy_address'),
	CURLOPT_PROXYPORT =&gt; getenv('proxy_port')
);

require_once('suggest.php');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Ask Wolfram|Alpha with Suggestions</string>
				<key>title</key>
				<string>Ask Wolfram|Alpha</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow gives you in-line results for Wolfram|Alpha, helping you find what you want even quicker!</string>
	<key>uidata</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B8FFA3AB-AD7D-4316-A84F-5958A671D4FF</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>proxy_address</key>
		<string>127.0.0.1</string>
		<key>proxy_port</key>
		<string>1087</string>
		<key>proxy_type</key>
		<string>CURLPROXY_HTTP</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>proxy_port</string>
		<string>proxy_type</string>
		<string>proxy_address</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/AkikoZ/alfred-search-suggest-workflows</string>
</dict>
</plist>
